body {
    font-family: sans-serif;
    background-color:deepskyblue;
    font-size: 12px;
    color: white;
}

.wrapper {
    width:1000px;
 
    margin: 0 auto;
    overflow: auto;
}

.menu {
    width: 300px;
    float: left;
}

.menu>ul {
    padding: 0;
}

.menu>ul>li {
    list-style-type: none;
}

.menu>ul>li>a {
    display: block;
    border: 1px solid white;
    padding: 20px;
    margin:10px;
    text-align: center;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 30px;
    
}

.catface {
    border: 1px solid white;
    background: transparent url("http://pic1.win4000.com/wallpaper/2/570cc6df99ad5.jpg") no-repeat center;
    background-size:990px;
    height: 350px;
    width: 990px;
    margin: auto;
    
   

}

.content {
    padding: 20px;
    margin-left: 300px;
    
}

.content img {
    max-width: 400px;
    height: 170px;
    margin-left: -180px;
}

.header{
    color: white;
    font-size:30px;
    margin-top:350px;
    
    
}

.article{
    margin-top: 10px;
    font-size: 15px;
}
.article img{
    float:right;
    margin-right: 300px;
}

